<a href="https://colab.research.google.com/github/Amrita-GitHub/somya-28-02-2025/blob/main/Week2_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
customers = []
customers

[]

In [19]:
#  0  -- (n-1)[[[left---right]]]
# -1,-2,-3[Right--left]
customers = ['somya','amrita','rishit']
customers

['somya', 'amrita', 'rishit']

In [21]:
# access the elements from the list/indexing
customers[-1]

'rishit'

In [26]:
# change the element in the list
customers[2]='mathur'
customers

['chawla', 'saxena', 'mathur']

In [27]:
# Add the elements to the list
# 1. append(item)
# 2. insert(index,item)

customers.append("Tim")
customers

['chawla', 'saxena', 'mathur', 'Tim']

In [28]:
# insert

customers.insert(2,'John')
customers

['chawla', 'saxena', 'John', 'mathur', 'Tim']

In [35]:
# add john again to the end of the list
customers.append('John')
customers

['chawla',
 'saxena',
 'John',
 'mathur',
 'Tim',
 'John',
 'John',
 'John',
 'John',
 'John',
 'John',
 'John']

In [37]:
# Remove the first occurance of the item
customers.remove("John")
customers

['chawla',
 'saxena',
 'mathur',
 'Tim',
 'John',
 'John',
 'John',
 'John',
 'John',
 'John']

In [38]:
customers.remove("Steven")
customers

ValueError: list.remove(x): x not in list

In [39]:
del customers[1]
customers

['chawla', 'mathur', 'Tim', 'John', 'John', 'John', 'John', 'John', 'John']

In [40]:
# pop - removes and displays the removed item from the list
poped_customer = customers.pop(0)
poped_customer

'chawla'

In [41]:
customers

['mathur', 'Tim', 'John', 'John', 'John', 'John', 'John', 'John']

In [60]:
# Slice the list[start:stop:step]

numbers = [0,1,2,3,4,5,6,7,8,9]
numbers
numbers[0:3]
# 0--(n-1)
numbers[3:7]
numbers[::]
numbers[::-4]
# numbers[:-3]
# numbers[:3]

[9, 5, 1]

In [79]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
numbers1 = [10,11,12]
numbers
len(numbers)
numbers2 = numbers +  numbers1
print(numbers2)
1 in numbers2
numbers2.count(10)
# returns the posit of the item that occured first
numbers2.index(1)
# sorts the elemnts in the list
# numbers2.sort()
# numbers2
# print(f"Sorted orders of numbers {numbers2}")
# reverse
numbers2.reverse()
numbers2

[3, 1, 4, 1, 5, 9, 2, 6, 10, 11, 12]

[12, 11, 10, 6, 2, 9, 5, 1, 4, 1, 3]

In [88]:
# iterate or for-loop through the list
colors = ["red","blue","green","yellow"]
print(colors)
for name in colors:
  print(f"{name}")

for index,name in enumerate(colors):
  print(f"{index}  {name}")

['red', 'blue', 'green', 'yellow']
red
blue
green
yellow
0  red
1  blue
2  green
3  yellow

In [95]:
prices = [25.50, 10.99, 5.99, 15.75, 30.00]
total_price =0
for price in prices:
  total_price += price
  print(total_price)
avg_price = total_price/len(prices)
print(avg_price)

25.5
36.49
42.480000000000004
58.230000000000004
88.23
17.646